*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: whitesmoke;
    font-size: 14px;
}
#navbar{
    position: fixed;
    top: 0;
    display: flex;
    background-color: rgb(17, 78, 98);
    padding: 20px 30px;
    width: 100%;
    justify-content: space-evenly;
    z-index: 5;
    box-shadow: 0 0 16px #171717;
}
nav{
    margin: 10px;
    margin-left: 30%;
    transition: all 0.5s;
}
ul li{
    list-style: none;
    margin-left: 20px;
    float: right;
}
li img{
    width: 40px;
    color: white;
    margin-top: -10px;
}
 img.menu{
    width:35px;
    display: none;
}
a button{
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: -5px;
    border: none;
    color: white;
    outline: 1px solid white;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        background-color:rgb(59, 97, 110);
    }
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', arial;
    transition: all 0.5s;
    &:hover{
        color: deeppink;
        font-weight: bold;
    }
}
a img{
    width: 40px;
}
.logo a{
    font-size: 20px;
    font-family: 'Poppins',jokerman;
    right: 0;
    color: white;
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    border-left: none;
    font-weight: bold;
    border-top: none;
    border-bottom: none;
}
h1{
    margin-top: 150px;
    text-align: center;
    color: #333;
}


table{
    margin: 100px;
    margin-top: 100px;
    margin-bottom: 180px;
    padding: 10px;
    flex-wrap: wrap;
    place-self: center;
}
th{
    padding: 10px;
}
td{
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    &:hover{
        background-color: #cfcfd8;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 20px;
}
.cards .card{
    background-color: #fff;
    width: 400px;
    text-align: center;
    font-size:28px;
    margin:40px 0 0 30px;
    border-radius: 10px;
}
.card img{
    width: fit-content;
    object-fit: contain;
    height: 300px;
    border-radius: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s;
    &:hover{
        transform: scale(0.9);
    }
}
.card p{
    color: rgb(59, 59, 59);
}
footer{
    display: flex;
    background-color: #202020;
    color: #ccc;
    padding: 30px 80px;
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 750px) {
    nav {
        position: relative;
    }

    #navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(17, 78, 98);
        padding: 10px;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    #navLinks.show {
        display: flex;
    }

    li {
        margin: 10px 0;
    }

    li img.menu {
        display: block;
        cursor: pointer;
        margin-top: 0;
    }
}